/* Global layout */
.App {
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Main headers */
h1,
h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Block Attributes styling */
.BlockAttributes {
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Transaction list styling */
.TransactionList {
  margin-top: 20px;
}

/* Transaction receipt styling */
.transaction-receipt {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left; /* Left-align the content */
  background-color: yellow; /* Set the background color to yellow */
}

.transaction-receipt p {
  margin: 0;
}

.transaction-receipt:hover {
  background-color: #ffefaa; /* Lighter shade of yellow for hover effect */
}

.transaction-receipt strong {
  font-weight: bold; /* Makes the static text bold */
}

/* Add more spacing for paragraphs and list items */
p,
li {
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
